flows(1).json
[{"id":"ce6ad589.a32e48","type":"tab","label":"life","disabled":false,"info":""},{"id":"483a5c24.320b94","type":"function","z":"ce6ad589.a32e48","name":"PreToken","func":"global.set(\"ye\",msg.payload.ye)\nglobal.set(\"stat\",msg.payload.stat)\nglobal.set(\"admort\",msg.payload.admort)\nglobal.set(\"infdeath\",msg.payload.infdeath)\nglobal.set(\"alc\",msg.payload.alc)\nglobal.set(\"perexp\",msg.payload.perexp)\nglobal.set(\"hb\",msg.payload.hb)\nglobal.set(\"meas\",msg.payload.meas)\nglobal.set(\"bmi\",msg.payload.bmi)\nglobal.set(\"ufdeath\",msg.payload.ufdeath)\nglobal.set(\"pol\",msg.payload.pol)\nglobal.set(\"totexp\",msg.payload.totexp)\nglobal.set(\"dip\",msg.payload.dip)\nglobal.set(\"hiv\",msg.payload.hiv)\nglobal.set(\"gdp\",msg.payload.gdp)\nglobal.set(\"pop\",msg.payload.pop)\nglobal.set(\"thinone\",msg.payload.thinone)\nglobal.set(\"thinfive\",msg.payload.thinfive)\nglobal.set(\"inccomp\",msg.payload.inccomp)\nglobal.set(\"sch\",msg.payload.sch)\n\nvar apikey=\"6dVhZmcCFfYRf96DaGd4gisG07vi4KKgVxtmQhE2JzrV\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":255,"y":316.0000047683716,"wires":[["c61e801.00173"]]},{"id":"c61e801.00173","type":"http request","z":"ce6ad589.a32e48","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","proxy":"","authType":"","x":390,"y":220,"wires":[["8df4562a.3a0508"]]},{"id":"b87da11a.496e38","type":"inject","z":"ce6ad589.a32e48","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":60,"y":240,"wires":[["483a5c24.320b94"]]},{"id":"ac7d5a23.92c618","type":"debug","z":"ce6ad589.a32e48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":670,"y":180,"wires":[]},{"id":"8df4562a.3a0508","type":"function","z":"ce6ad589.a32e48","name":"Pre Prediction","func":"var ye = global.get('ye')\nvar stat = global.get('stat')\nvar admort = global.get('admort')\nvar infdeath = global.get('infdeath')\nvar alc = global.get('alc')\nvar perexp = global.get('perexp')\nvar hb = global.get('hb')\nvar meas = global.get('meas')\nvar bmi = global.get('bmi')\nvar ufdeath = global.get('ufdeath')\nvar pol = global.get('pol')\nvar totexp = global.get('totexp')\nvar dip = global.get('dip')\nvar hiv = global.get('hiv')\nvar gdp = global.get('gdp')\nvar pop = global.get('pop')\nvar thinone = global.get('thinone')\nvar thinfive = global.get('thinfive')\nvar inccomp = global.get('inccomp')\nvar sch = global.get('sch')\nvar token=msg.payload.access_token\nvar instance_id=\"decb2d71-271e-45bb-b043-418ef35639c5\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"fields\": [\"Year\",\"Status (1 for developing, 0 for developed)\",\"Adult Mortality\",\"infant deaths\",\"Alcohol\",\"percentage expenditure\",\"Hepatitis B\",\"Measles\",\"BMI\",\"under-five deaths\",\"Polio\",\"Total expenditure\",\"Diptheria\",\"HIV/AIDS\",\"GDP\",\"Population\",\"thinness 1-19 years\",\"thinness 5-9 years\",\"Income composition of resources\",\"Schooling\"], \"values\": [[ye,stat,admort,infdeath,alc,perexp,hb,meas,bmi,ufdeath,pol,totexp,dip,hiv,gdp,pop,thinone,thinfive,inccomp,sch]]}\n//msg.payload={\"fields\": [\"Year\", \"Status\",\"Adult Mortality\",\"infant deaths\",\"Alcohol\",\"percentage expenditure\",\"Hepatitis B\",\"Measles\",\"BMI\",\"under-five deaths\",\"Polio\",\"Total expenditure\",\"Diptheria\",\"HIV/AIDS\",\"GDP\",\"Population\",\"thinness 1-19 years\",\"thinness 5-9 years\",\"Income composition of resources\",\"Schooling\"], \"values\": [[ye],[stat],[admort],[infdeath],[alc],[perexp],[hb],[meas],[bmi],[ufdeath],[pol],[totexp],[dip],[hiv],[gdp],[pop],[thinone],[thinfive],[inccomp],[sch]]}\n//msg.payload={\"fields\": [\"Year\"], \"values\": [[ye]]}\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":400,"wires":[["ef0b8332.18ac78"]]},{"id":"ef0b8332.18ac78","type":"http request","z":"ce6ad589.a32e48","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/decb2d71-271e-45bb-b043-418ef35639c5/deployments/82083f27-9eea-40f6-8091-490f45aa5500/online","tls":"","persist":false,"proxy":"","authType":"","x":610,"y":320,"wires":[["83759ece.2f91d8"]]},{"id":"66e8ea60.611004","type":"ui_form","z":"ce6ad589.a32e48","name":"","label":"","group":"b41e607e.4c558","order":0,"width":0,"height":0,"options":[{"label":"Year","value":"ye","type":"number","required":true,"rows":null},{"label":"Status (1 for developing, 0 for developed)","value":"stat","type":"number","required":true,"rows":null},{"label":"Adult Mortality","value":"admort","type":"number","required":true,"rows":null},{"label":"infant deaths","value":"infdeath","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"alc","type":"number","required":true,"rows":null},{"label":"percentage expenditure","value":"perexp","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"hb","type":"number","required":true,"rows":null},{"label":"Measles","value":"meas","type":"number","required":true,"rows":null},{"label":"BMI","value":"bmi","type":"number","required":true,"rows":null},{"label":"under-five deaths","value":"ufdeath","type":"number","required":true,"rows":null},{"label":"Polio","value":"pol","type":"number","required":true,"rows":null},{"label":"Total expenditure","value":"totexp","type":"number","required":true,"rows":null},{"label":"Diptheria","value":"dip","type":"number","required":true,"rows":null},{"label":"HIV/AIDS","value":"hiv","type":"number","required":true,"rows":null},{"label":"GDP","value":"gdp","type":"number","required":true,"rows":null},{"label":"Population","value":"pop","type":"number","required":true,"rows":null},{"label":"thinness 1-19 years","value":"thinone","type":"number","required":true,"rows":null},{"label":"thinness 5-9 years","value":"thinfive","type":"number","required":true,"rows":null},{"label":"Income composition of resources","value":"inccomp","type":"number","required":true,"rows":null},{"label":"Schooling","value":"sch","type":"number","required":true,"rows":null}],"formValue":{"ye":"","stat":"","admort":"","infdeath":"","alc":"","perexp":"","hb":"","meas":"","bmi":"","ufdeath":"","pol":"","totexp":"","dip":"","hiv":"","gdp":"","pop":"","thinone":"","thinfive":"","inccomp":"","sch":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":46,"y":359,"wires":[["483a5c24.320b94"]]},{"id":"99d261e7.302308","type":"ui_text","z":"ce6ad589.a32e48","group":"b41e607e.4c558","order":1,"width":0,"height":0,"name":"","label":"predict life expectancy","format":"{{msg.payload}}","layout":"row-spread","x":700,"y":60,"wires":[]},{"id":"83759ece.2f91d8","type":"function","z":"ce6ad589.a32e48","name":"","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":120,"wires":[["ac7d5a23.92c618","99d261e7.302308"]]},{"id":"b41e607e.4c558","type":"ui_group","z":"","name":"Default","tab":"377c3729.4d6fe","order":1,"disp":true,"width":"6","collapse":false},{"id":"377c3729.4d6fe","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]